git
# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
tmp/*
public/assets/
public/system/
public/uploads/
.rvmrc
/public/cache
/public/system/*
**/.DS_Store
.DS_Store
/config/application.yml
/config/database.yml
.rbenv-gemsets
.ruby-version
