<!-- boolean -->
<div class="radio" ng-if="field.field_type == 'boolean'">
  <label>
    <input type="radio" name="{{ field.name }}" value="1" checked>
    {{ field.true_label }}
  </label>
</div>
<div class="radio" ng-if="field.field_type == 'boolean'">
  <label>
    <input type="radio" name="{{ field.name }}" value="0" checked>
    {{ field.false_label }}
  </label>
</div>