<!-- datetime -->
<div class="input-group datetime" ng-show="(field.field_type == 'datetime')">
  <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
  <input type="text" class="form-control datetimepicker" data-minuteStepping="15" name="{{ field.name }}">
</div>