<!-- date -->
<div class="input-group date" ng-show="(field.field_type == 'date')">
  <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
  <input type="text" class="form-control datepicker" ng-if="field.field_type == 'date'" name="{{ field.name }}">
</div>