<!-- facebook -->
<div class="input-group" ng-if="field.field_type == 'facebook'">
  <span class="input-group-addon"><i class="fa fa-facebook"></i></span>
  <input type="text" class="form-control" name="{{ field.name }}">
</div>