<!-- MCQ -->
<label class="checkbox-inline" ng-repeat="opt in field.field_options" ng-if="(field.field_type == 'mcq') && ((opt.deleted == undefined) || (opt.deleted == false))">
  <input type="checkbox"> {{ opt.name }}
</label>