<!-- percentage -->
<div class="input-group" ng-if="field.field_type == 'percentage'">
  <input type="number" class="form-control" name="{{ field.name }}" max="100" min="0">
  <span class="input-group-addon">%</span>
</div>