
<!-- picture choice -->
<div  ng-if="(field.field_type == 'picture_choice')">
  <div class="radio" ng-repeat="opt in field.field_options" ng-if="((opt.deleted == undefined) || (opt.deleted == false))">
    <label>
      <input type="radio" name="{{ field.name }}" value="{{ opt.id }}">
      <img class="picture-option" ng-src="{{ opt.picture_thumb_url || opt.picture.dataURL || '/assets/field_options/thumb_missing.jpg'}}"  type="{{ opt.picture.file.type }}" />
    </label>
  </div>
</div>