<!-- price -->
<div class="input-group price" ng-show="(field.field_type == 'price')">
  <span class="input-group-addon"> {{ field.properties.currency || '$' }}</span>
  <input type="text" class="form-control span3">
</div>