<table class="table table-bordered">
  <thead>
    <tr>
      <th></th>
      <th ng-repeat="column in field.properties.columns"> {{ column.name }} </th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="statement in field.properties.statements">
      <td> {{ statement.name }} </td>
      <td ng-repeat="column in field.properties.columns">
        <div class="radio">
          <label>
            <input type="radio" name="{{ field.name }}_{{ statement.name }}" id="optionsRadios2" value="{{ statement.name }}-{{ column.name }}">
          </label>
        </div>
      </td>
    </tr>
  </tbody>
</table>