<!-- twitter -->
<div class="input-group" ng-if="field.field_type == 'twitter'">
  <span class="input-group-addon"><i class="fa fa-twitter"></i></span>
  <input type="text" class="form-control" name="{{ field.name }}">
</div>