<!-- website -->
<div class="input-group" ng-if="field.field_type == 'website'">
  <span class="input-group-addon">http://</span>
  <input type="text" class="form-control" name="{{ field.name }}">
</div>