#form-sidebar {
	padding-top: 20px;
}

#form-container {
	padding: 10px 50px;
	background-color: #fcf8f2;
}

.form-intro {
	margin-bottom: 20px;
}

.form-field {
	.panel-heading:hover {
		cursor: pointer;
		background: #ededed;
	}

	.panel-footer {
		background-color: #f7f7f9;
	}
}