.public-form {
	.container {
		margin-top: 100px;
	  margin-bottom: 40px;

	  .img-thumbnail:hover,
	  .img-thumbnail:active,
	  .img-thumbnail.active {
      border: 1px solid #428bca;
    }
	}

	footer {
		text-align: center;
		padding: 10px;
		border-top: 1px solid #ededed;
	}
}