<label class="radio-inline">
  <%= f.radio_button question.name, true %> <%= original_question.true_label %>
</label>

<label class="radio-inline">
  <%= f.radio_button question.name, false %> <%= original_question.false_label %>
</label>