<%= page_title("#{t 'account.members'}") do %>
  <%= link_to "#{t 'users.new'}", new_admin_user_path, class: 'pull-right btn btn-primary' %>
<% end %>

<% if @users.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Forms</th>
        <th>Member since</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <%= render 'user', user: user %>
      <% end %>
    </tbody>
  </table>

  <p><%= paginate(@users) %></p>
<% else %>
  <p class="alert alert-info">No additional members found.</p>
<% end %>