<div class="main-sidebar sidebar-nav">
	<%= tabs_tag builder: BootstrapSidebarNavBuilder, open_tabs: { class: "nav" } do |tab| %>
	  <li><%= link_to "Link", "" %></li>
	  <li><%= link_to "Link", "" %></li>
	  <li><%= link_to "Link", "" %></li>
	<% end %>
</div>