<!-- email -->
<%= f.input question.id.to_s, label: question.field_label, hint: question.field_hint, required: question.required, wrapper: :prepend do %>
  <span class="input-group-addon">@</span>
  <%= f.input_field question.id.to_s, as: :email %>
<% end %>