<% options = eval(question.properties['data']) %>
<% options.each do |option, value| %>
	<div class="checkbox">
		<label>
      <%= f.check_box question.id.to_s+"_"+option.to_s, {}, option %> <%= value %>
		</label>
	</div>
<% end %>