<%= f.input question.id.to_s, label: question.field_label, required: question.required, wrapper: :prepend do %>
  <% if question.properties['add_on'] == 'prepend' %>
    <span class="input-group-addon"><%= question.properties['currency'] || '$' %></span>
  <% end %>

  <%= f.input_field :price, as: :integer, min: 0 %>

  <% if question.properties['add_on'] == 'append' %>
    <span class="input-group-addon"><%= question.properties['currency'] || '$' %></span>
  <% end %>
<% end %>