<!DOCTYPE html>
<html>
<head>
	<%= render '/layouts/shared/head' %>
</head>
<body>
  <%= render 'header' %>
  <div class="container main-container">
		<%= render 'flash' %>
		<%= yield %>
  </div>
  <script src='https://www.google.com/jsapi'></script>
</body>
</html>